.iconButton {
    transition: all 0.2s !important;
}
.iconButton:hover {
    background-color: #c5c5c5 !important;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
/* .todocard {
    transition: padding 0.4s !important;
}
.todocard:hover {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
} */

/* Cutom Fonts */
@font-face {
    font-family: AlexFont;
    src: url("/public/fonts/Alexandria-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: AlexFont;
    src: url("/public/fonts/Alexandria-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: AlexFont;
    src: url("/public/fonts/Alexandria-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: AlexFont;
    src: url("/public/fonts/Alexandria-Light.ttf");
    font-weight: 200;
}

/* Cutom Fonts */
